{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron bg-light text-center" style="margin: auto">
        <h2 class="font-monospace">E-Commerce Site</h2>
        <p>Here's our TOP products!</p>
    </div>
    <div class="align-self-center">

        <h3 class="text-center">Boohoo! OUR PRODUCTS!</h3>
        <div class="row text-center">
                {% for prop in property %}
                <style>
                    .cc{
                        margin-left: 650px;
                    }
                </style>
                <div class="col-2 cc">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href=" {{ path('property.show',{id: prop.id,slug: prop.slug}) }} ">{{ prop.title }}</a>
                            </h5>
                            <p class="card-text">
                                {{ prop.city }}
                                ({{ prop.postalCode }})
                            </p>
                            <div class="text-danger" style="font-weight: bold">
                                {{ prop.price|number_format(0,'',' ') }}$
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
