{% extends 'base.html.twig' %}

{% block title 'store'%}
    {% block body %}
        <div class="jumbotron">
            <div  class="container" style="font-family: 'Eras Medium ITC',serif;">
                <h3>You want help?</h3><span style="color: #dc3545">SEARCH HERE!</span>
                {{ form_start(form) }}
                <div class="form-row align-items-end">
                    <div class="col">
                        {{ form_row(form.minSurface)}}
                    </div>
                     <div class="col">
                         {{ form_row(form.maxPrice) }}
                     </div>
                    <br>
                    <div class="col">
                        <button class="btn btn-success">Research</button>
                    </div>
                </div>
                <br>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="container mt-4">
        <h1>OUR OFFERS</h1>
            <div class="row">
            {% for prop in property %}
                <div class="col-md-4">{% include 'property/_property.html.twig' %}</div>
            {% endfor %}
            </div>
            <div class="pagination">
                {{ knp_pagination_render(property) }}
            </div>
        </div>

    {% endblock body %}
